html {
  font-size: 8px;

  @media screen and (min-width: 768px) {
    font-size: 10px;
  }
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}

.section {
  padding: 2rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid $light-blue;
  }

  &__title {
    $font-size: 30px;

    font-size: $font-size;
    line-height: calc(36px / $font-size);
    font-weight: 700;
  }
}

.title-page {
  $font-size: 48px;

  font-size: $font-size;
  line-height: calc(60px / $font-size);
  text-align: center;
  font-weight: 700;
}
